@model WebApp1.Models.Meeting

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa Cuộc họp</h1>

<h3>Bạn có chắc chắn muốn xóa cuộc họp này?</h3>
<div>
    <h4>Cuộc họp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MeetingID" />
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt" style="color: white"></i> Xóa</button> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
