@model IEnumerable<WebApp1.Models.Meeting>

@{
    ViewData["Title"] = "Danh sách";
    var count = 1;
}

<h1>Danh sách cuộc họp</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"> Thêm cuộc họp</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>*@
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.MeetingTitle)*@#
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>*@
            <th scope="row">
                @*@Html.DisplayFor(modelItem => item.MeetingTitle)*@@(count++)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                <div class="form-group">
                    <a asp-action="Details" asp-route-id="@item.MeetingID" class="btn btn-sm btn-info"><i class="fas fa-info-circle"> Xem Tài liệu</i></a><br />
                    <a asp-action="Edit" asp-route-id="@item.MeetingID" class="btn btn-sm btn-primary"><i class="fas fa-edit"> Chỉnh sửa cuộc họp</i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
