@model WebApp1.ViewModels.FileViewModel

@{
    ViewData["Title"] = "Sửa";
}

<h1>Chỉnh sửa</h1>

<h4>Tài liệu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.FileUpload.FileID" />
            <input type="hidden" asp-for="@Model.FileUpload.MeetingID" />
            <input type="hidden" asp-for="@Model.FileUpload.OwnerID" />
            <input type="hidden" asp-for="@Model.FileUpload.FileName" />
            <input type="hidden" asp-for="@Model.FileUpload.FilePath" />
            <input type="hidden" asp-for="@Model.FileUpload.UploadDate" />
            <input type="hidden" asp-for="@Model.Extension" />
            <div class="form-group">
                <label asp-for="@Model.BirthName" class="control-label"></label>
                <input asp-for="@Model.BirthName" type="text" class="form-control" disabled/>
                <span asp-validation-for="@Model.BirthName" class="text-danger"></span>
            </div>
            <div class="form-group ui-widget">
                <label asp-for="@Model.MeetingTitle" class="control-label"></label>
                <input asp-for="@Model.MeetingTitle" type="text" class="form-control" />
                <span asp-validation-for="@Model.MeetingTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FileNameWithoutExt" class="control-label"></label>
                <input asp-for="@Model.FileNameWithoutExt" class="form-control" />
                <span asp-validation-for="@Model.FileNameWithoutExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FileUpload.Description" class="control-label"></label>
                <input asp-for="@Model.FileUpload.Description" class="form-control" />
                <span asp-validation-for="@Model.FileUpload.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

<script src="~/js/FilesUpload.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
